body {
  background-image: url(img/body.jpg);
}

h1, h4, p {
  text-align: center;
}


#msg-col {
  background-color: rgba(73, 73, 73, 0.7);
  height: 80px;
  border-radius: 5px;
  color: white;
  border: 2px solid white;
}

#btn-col {
  text-align: center;
}

#content {
  background-image: url(img/aerial.jpg);
  height: 525px;
  width: 656px;
  border: 10px solid white;
  border-radius: 5px;
}