body {
  background-image: url(img/retro2.jpg);
  min-width: 700px;
  font-family: 'Roboto', sans-serif;
}

h1, h4, p {
  text-align: center;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 4rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#msg-col {
  background-color: rgba(73, 73, 73, 0.7);
  min-height: 144px;
  border-radius: 5px;
  color: white;
  border: 10px solid white;
}

#btn-col {
  text-align: center;
}

#content {
  background-image: url(img/maze.jpg);
  background-position: center;
  height: 525px;
  max-width: 85%;
  border: 10px solid #022601;
  border-radius: 5px;
}

#hintTitle {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#mouseArea {
  border: 10px solid white;
  background-color: rgba(73, 73, 73, 0.7);
  height: 200px;
  color: white;
  text-align: center;
  padding-top: 15px;
}

#fireGif {
  height: 75px;
  padding-bottom: 15px;
}

#winGif {
  max-height: 90%;
  max-width: 90%;
}

